@model Fantasy_basketball_web_app.Models.Season
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Fantasy Baskeball Simulator</h1>
    <p class="lead">Welcome to the Fantasy BasketBall Simulator! Here you can simulate any season from starting from the 1985-1986 season up till the most recent 2018-2019 season!</p>
    <form action="" method="post">
        <label>Which season would you like to simulate?</label>
        <br />
        <input type="text" name="Season" placeholder="Season..." />
        <input type="submit" runat="server" class="btn btn-primary btn-sm" OnClick="Button1_Click" value="Sim Season" />
    </form>
</div>
